/* html, body, #app, #main, #main-content, #root{ */
html,
body {
    height: 100%;
}

.full-height {
    height: 100%;
    overflow: hidden;
}

#main-content {
    height: 100%;
    overflow: auto;
}

#main #main-content {
    padding-left: 2rem !important;
}

.navbar {
    padding: 1rem 1.8rem !important;
}

.page-heading {
    margin: 0 0 1rem !important;
}

.bootstrap-timepicker-widget {
    left: auto;
    width: 180px;
    border-radius: 0.42rem;
}

.bootstrap-timepicker-widget .bootstrap-timepicker-hour,
.bootstrap-timepicker-widget .bootstrap-timepicker-minute,
.bootstrap-timepicker-widget .bootstrap-timepicker-meridian,
.bootstrap-timepicker-widget .bootstrap-timepicker-second {
    border: 0;
    background-color: transparent;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #7E8299;
    font-weight: 500;
}

.bootstrap-timepicker-widget table td {
    border-radius: 0.42rem;
    text-align: center;
}

.bootstrap-timepicker-widget table td>a {
    border: 0;
    border-radius: 0.42rem;
    width: 33px;
    height: 33px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.bootstrap-timepicker-widget table td>a span {
    font-size: 0.75rem;
    color: #B5B5C3;
    line-height: 1;
}

.bootstrap-timepicker-widget table td>a:hover {
    background: #F3F6F9;
}

div.dataTables_wrapper div.dataTables_info {
    float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    min-width: 1.5em;
    /* padding: 0.5em 1em; */
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

div.dt-buttons {
    position: relative;
    float: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.dataTables_length {
    float: left;
}

.dropdown-toggle:after {
    margin-left: -10px !important;
}

/* .dataTables_length {
    position: relative;
    float: none !important;
    text-align: center;
} */
